<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='externalNotesStatic/style.css')}}"
        />
        <title>Manage External Files</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Study Hub</h1>
                <a href="{{url_for('main.index')}}">BACK TO MAIN</a>
            </div>
        </header>
        <form   id="upload_form"
                action="{{url_for('externalNotes.save')}}"
                method="POST"
                enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="UPLOAD"></input>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        <div id="load_files">
            <h2>List of Files</h2>
            <div id="detector_result">Webshell Detection Result: <br /> {{ result }}</div>
            <table>
                <thead>
                    <tr>
                        <th>List of Files</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr>
                        <td><a href="{{url_for('externalNotes.load_file', filename=file)}}">{{ file }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2024 Study Hub. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>
