<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>1,4,7,14 Studying</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='style.css')}}"
        />
        <script>
            MathJax = {
                tex: {
                    inlineMath: [
                        ['$', '$', '$$', '$$'],
                        ['\\(', '\\)', '\\[', '\\]'],
                    ],
                },
            };
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    </head>
    <body>
        <div id="nav">
            <a href="#main">Main</a>
            <a href="#addNotes">Add Notes</a>
            <a href="#viewNotes">View Notes</a>
            <a href="#commingUp">Comming Up</a>
            <a href="#quiz">QUIZ</a>
        </div>

        <div id="main" class="main">
            <h1>Welcome!</h1>
            <p>
                Do you often forget what you learned in class? Then this is the perfect place for you!<br>
                You just add notes, we will show them every 1, 4, 7 and 14 days so that they remains in your long-term memory!
            </p>
            <hr>

            <h1>We hereby support TeX format!</h1>
            <p>Are you concerned with mathematic expressions? <br>
                Don't worry. Write expressions as if you are editing .tex document!</p>
            <hr>

            <h1>See what features are available!</h1>
            <div class="carousel">
                <div class="slide active">
                    <header>Add Notes</header>
                    <p>You just add notes, <br>
                        we will take care of them on behalf of you</p>
                </div>
                <div class="slide">
                    <header>View Notes</header>
                    <p>Do you want to see what you added so far? <br>
                        Of course you can!</p>
                </div>
                <div class="slide">
                    <header>Comming Up</header>
                    <p>Check what is comming up for <br>
                        day 1, day4, ... , day 14 notes!</p>
                </div>
                <div class="slide">
                    <header>Quiz</header>
                    <p>Needs to be updated</p>
                </div>
                <button class="prev" onclick="prevSlide()"><</button>
                <button class="next" onclick="nextSlide()">></button>
            </div>
            <hr>
        </div>

        <div id="AddNotes" class="main">
            <h2>ADD NOTES</h2>
            <form id="addCourseForm">
                <label for="addCourse">Add Course:</label>
                <input type="text" id="addCourse" name="addCourse" />
                <button type="button" onclick="courseAdd()">Add Course</button>
            </form>

            <form
                action="{{url_for('main.save')}}"
                method="POST"
                enctype="multipart/form-data"
            >
                <label for="course">Course:</label>
                <select name="course" id="course">
                    <option>Select The Course</option>
                    {% for course_name in course_names %}
                        <option>{{course_name[0]}}</option>
                    {% endfor %}
                </select>
                <br />
                <label for="contentType">Content Type:</label>
                <select name="contentType" id="contentType">
                    <option>Definition</option>
                    <option>Axiom</option>
                    <option>Lemma</option>
                    <option>Theorem</option>
                    <option>Corollary</option>
                    <option>Note(Extras)</option>
                </select>
                <br /><br />
                <label for="title">Title:</label>
                <textarea name="title" id="title"></textarea>
                <label for="content">Content:</label>
                <textarea name="content" id="content" placeholder="When $a \ne 0$, there are two solutions to $ax^2 + bx + c = 0$ and they are
                $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$"></textarea>
                <br /><br />
                LaTex View:
                <div id="latex"></div>
                <input type="submit" value="SAVE" />
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %} 
                {% if messages %} 
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %} 
                {% endif %} 
            {% endwith %}

            <hr>
            <h2>ADD NOTES BY EXCEL FILE</h2>
            <div>Your excel file should have the titles with "Course", "Content Type", "Title", "Content". <br>
                Sample excel file might look like:
                <table style="text-align: center;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Course</td>
                            <td>Content Type</td>
                            <td>Title</td>
                            <td>Content</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>MATH237</td>
                            <td>Definition</td>
                            <td>Subgroup</td>
                            <td>A subset S of group G is a subgroup if it preserves closure under the operation in G</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form
                action="{{url_for('fileConvert.preview')}}"
                method="POST"
                enctype="multipart/form-data"
            >
                <input type="file" name="file" />
                <input type="submit" value="PREVIEW"></input>
            </form>
        </div>

        <div id="ViewNotes" class="main">
            <h2>VIEW THE LIST OF NOTES</h2>

            {%for course_name in course_names%}
            <h3>Course: {{course_name[0]}}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Contents</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in notes_data %} 
                        {% if row[4] == course_name[0] %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                        </tr>
                        {% endif %} 
                    {% endfor %}
                </tbody>
            </table>
            {%endfor%}
        </div>

        <div id="CommingUp" class="main">
            <h2>Day ~1</h2>
            {% for course_name in course_names %}
                {% set course_data = [] %}
                {% for data in date_diff_one %}
                    {% if data[4] == course_name[0] %}
                        {% set course_data = course_data.append(data) %}
                    {% endif %}
                {% endfor %}
                {% if course_data %}
                    <h3>Course: {{ course_name[0] }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in course_data %}
                                <tr>
                                    <td>{{ data[0] }}</td>
                                    <td>{{ data[1] }}</td>
                                    <td>{{ data[2] }}</td>
                                    <td>{{ data[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>NO DATA AVAILABLE</p>
                {% endif %}
            {% endfor %}


            <h2>Day ~4</h2>
            {% for course_name in course_names %}
                {% set course_data = [] %}
                {% for data in date_diff_four %}
                    {% if data[4] == course_name[0] %}
                        {% set course_data = course_data.append(data) %}
                    {% endif %}
                {% endfor %}
                {% if course_data %}
                    <h3>Course: {{ course_name[0] }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in course_data %}
                                <tr>
                                    <td>{{ data[0] }}</td>
                                    <td>{{ data[1] }}</td>
                                    <td>{{ data[2] }}</td>
                                    <td>{{ data[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>NO DATA AVAILABLE</p>
                {% endif %}
            {% endfor %}

            <h2>Day ~7</h2>
            {% for course_name in course_names %}
                {% set course_data = [] %}
                {% for data in date_diff_seven %}
                    {% if data[4] == course_name[0] %}
                        {% set course_data = course_data.append(data) %}
                    {% endif %}
                {% endfor %}
                {% if course_data %}
                    <h3>Course: {{ course_name[0] }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in course_data %}
                                <tr>
                                    <td>{{ data[0] }}</td>
                                    <td>{{ data[1] }}</td>
                                    <td>{{ data[2] }}</td>
                                    <td>{{ data[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>NO DATA AVAILABLE</p>
                {% endif %}
            {% endfor %}

            <h2>Day ~14</h2>
            {% for course_name in course_names %}
                {% set course_data = [] %}
                {% for data in date_diff_fourteen %}
                    {% if data[4] == course_name[0] %}
                        {% set course_data = course_data.append(data) %}
                    {% endif %}
                {% endfor %}
                {% if course_data %}
                    <h3>Course: {{ course_name[0] }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in course_data %}
                                <tr>
                                    <td>{{ data[0] }}</td>
                                    <td>{{ data[1] }}</td>
                                    <td>{{ data[2] }}</td>
                                    <td>{{ data[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>NO DATA AVAILABLE</p>
                {% endif %}
            {% endfor %}
        </div>

        <div id="Quiz" class="main">Content for Quiz</div>
        <script src="{{ url_for('static', filename='courseModifier.js') }}"></script>
        <script src="{{ url_for('static', filename='navModifier.js') }}"></script>
        <script src="{{ url_for('static', filename='carouselModifier.js') }}"></script>
        <script src="{{ url_for('static', filename='latexDisplay.js') }}"></script>
    </body>
</html>
